<%- include('../header') %>
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Edit Extra Category Information</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
        
                    <div class="col-md-6">
                        <div class="card">
                            <form class="form-horizontal" action="/extracategory/update-extracategory/<%= extraCateRec._id %>" method="post" >
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">Category Name</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="categoryId">
                                                <option value="">Select Category</option>
                                                <% categories.map((category) => { %>
                                                    <option value="<%= category._id %>" <% if(extraCateRec.categoryId == category.id) { %> selected <% } %>><%= category.categoryName %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">SubCategory Name</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" name="subCategoryId">
                                                <option value="">Select Sub Category</option>
                                                <% subCategories.map((subCategory) => { %>
                                                    <option value="<%= subCategory._id %>" <% if(extraCateRec.subCategoryId == subCategory.id) { %> selected <% } %> ><%= subCategory.subCategory %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="fname" class="col-sm-3 text-right control-label col-form-label">ExtraCategory Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="fname" name="extraCategory" value="<%= extraCateRec.extraCategory %>">
                                        </div>
                                    </div>

                                </div>
                                <div class="border-top">
                                    <div class="card-body">
                                        <button type="submit" class="btn btn-primary">Update Sub Category</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        

                    </div>
                    
                </div>
                
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
<%- include('../footer') %>            