<%- include("../header") %>
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Category Information</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Category Name</th>
                              <th scope="col">Category Image</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                           <% categoires.map((item, i) => { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= item.categoryName %></td>
                                    <td><img src="<%= item.categoryImage %>" height="80" width="80" /></td>
                                    <td><a href="/category/edit-category/<%= item._id %>"><i class="fas fa-edit"></i></a> &nbsp; || &nbsp; <a href="/category/delete-category/<%= item._id %>"><i class="fas fa-trash"></i></a></td>
                                </tr>
                           <% }) %>
                          </tbody>
                    </table>
                </div>
              
                
                
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
<%- include("../footer") %>